header{
    font-size: 300%;
    background-color: gray;
    font-style: italic;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

body{
background-color: rgb(85, 109, 219);
}

.card{
    width: 30%;
    height: 30%;
    justify-content: center;
}
ul {
    list-style-type: none;
  }
.container{
    display: flex;
   justify-content: flex-start;

}

#results-container{
    background-color: rgb(119, 117, 238);
}

#five-day{
justify-content: left;
}

