/* Header Style Sizing and Color */
header{
    font-size: 300%;
    background-color: gray;
    font-style: italic;
    color: white;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

/* Body and HTML Size */
body, html {
    height: 100%;
}

/* Background Display */
.bg {
  /* The Image */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100%;

  /* Center and Scale the Image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

}
/* Hidden Display on Load */
.hide{
  display: none;

}

/* 2nd Background Color */
.bg2{
  background-color: maroon;

}

/* Body Text and Display */
#box{
   align-items: center;
   justify-content: center;
}

/* Div That 5 Day Data Sit In */
.card{
  margin-left: 1em;
  width: 70%;
  height: 70%;
  justify-content: center;
}

/* List Information */
ul {
  list-style-type: none;
  }

/* Top Container Layout for Data */
.container{
  display: flex;
  justify-content: flex-start;

}

/* 5 Day Results Boxes */
#five-day{
  padding-left: 5%;
  padding-top: 10%;
  justify-content:left;
  height: 600px;
  width: 1350px;

}

/* Icon Display Details */
#icon {
  margin-top: 5em;
  padding-bottom:0;
  background-color:white ;
  height: 15em;
  width: 20em;
  align-items: center;
   
}
/* Heading Text */
h2{
  text-align: center;
  color : white;
}